/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Couleur de fond */
}

header {
    background-color: #0056b3; /* Bleu principal */
    color: white;
    padding: 10px 0;
    text-align: center;
    background-image: url('images/car-background.jpg'); /* Image de voiture */
    background-size: cover;
    background-position: center;
}

header .header-content {
    max-width: 800px;
    margin: 0 auto;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #0056b3; /* Bleu principal */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
